# gitignore file
# see e.g. here: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# compiled code library
codeLibrary.o

# compiled python code
**.pyc

# root files
# (exceptions may exist, e.g. scalefactors, but should be added manually)
**.root

# images
**.png
**.pdf
**.eps

# pickled python objects
**.pkl

# analysis-specific:
# ignore other analysis codes
tZqAnalysisCode
# compiled code library
HWDAnalysisCode/tools/*.o
# hyperopt output and grids
HWDAnalysisCode/standalone/hyperopt/output_*
HWDAnalysisCode/standalone/hyperopt/grids/*.pkl
HWDAnalysisCode/standalone/hyperopt/grids/*.json
# keras output and data
HWDAnalysisCode/standalone/keras/output_*
HWDAnalysisCode/standalone/keras/data
